/* Global Start */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {

    /* Colors Start */

    --veryDarkBlue: hsl(233, 47%, 7%);
    --darkDesaturatedBlue: hsl(244, 38%, 16%);
    --softViolet: hsl(277, 64%, 61%);
    --white: hsl(0, 0%, 100%);
    --slightlyTransparentWhite: hsla(0, 0%, 100%, 0.75);
    --littleSlightlyTransparent: hsla(0, 0%, 100%, 0.6);

    font-size: 15px;
}

body {
    background-color: var(--veryDarkBlue);
    font-family: 'Inter', sans-serif;
    font-weight: 400, 700;
}

/* Design Start */

.stats {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--darkDesaturatedBlue);
    display: grid;
    border-radius: .5em;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 5em;
}

.stats .stats-img {
    position: relative;
}

.stats .stats-img img {
    display: block;
    margin: auto;
    object-fit: cover;
    object-position: center 10%;
    width: 100%;
    height: 100%;
    grid-column: 2;
    border-radius: 0 .5em .5em 0;
}

.stats .stats-img .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--softViolet);
    border-radius: 0 .5em .5em 0;
    mix-blend-mode: multiply;
    opacity: 80%;
}

.stats .stats-info  {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 4em;
    justify-content: space-between;
}

.stats .stats-info h1 {
    color: var(--white);
    font-size: 2.5em;
    letter-spacing: .01em;
}

.stats .stats-info h1 span {
    color: var(--softViolet)
}

.stats .stats-info p {
    color: var(--littleSlightlyTransparent);
    line-height: 1.6em;
    margin-bottom: 5em;
}

.stats .stats-numbers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 4em;
}

.stats .stats-numbers strong {
    color: var(--white);
    font-size: 1.6em;
}

.stats .stats-info .stats-numbers p {
    color: var(--littleSlightlyTransparent);
    font-weight: 400;
    line-height: 1.6em;
    margin-bottom: 0;
    font-size: .8em;
    margin-top: .4em;
}

.attribution { 
    position: absolute;
    font-size: 11px; 
    text-align: center;
    color: var(--softViolet);
    top: calc(100% + 1em);
    width: 100%;
}
.attribution a { 
    color: hsl(228, 45%, 44%);
}

/* Mobile Layout Start */

@media(max-width: 38.5rem) {
    .stats {
        min-height: 100vh;
        min-width: 85vw;
        margin: 1em auto;
        grid-template-columns: 1fr ;
        grid-template-rows: minmax(0, 1fr) auto;
        gap: 0;
        text-align: center;
    }

    .stats .stats-info {
        grid-row: 2;
        padding: 1.6em;
    }

    .stats .stats-info h1 {
        margin: 0;
    }

    .stats .stats-info p {
        line-height: 1.6em;
        padding: 0 1em;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .stats .stats-img {
        grid-row: 1/2;
    }
    
    .stats .stats-img img {
        border-radius: .5em .5em 0 0;
        min-width: 100%;
        min-height: 100%;
    }

    .stats .stats-img .overlay {
        border-radius: .5em .5em 0 0;
    }

    .stats .stats-info .stats-numbers {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr;
        gap: 1em;

    }

    .stats .stats-info .stats-numbers p {
        font-size: .8rem;
        letter-spacing: .1rem;
    }

}

/* Mobile Landscape Layout Start */

@media (min-width: 38.51rem) and (max-width: 90rem) {
    .stats {
        min-height: 90vh;
        min-width: 90vw;
        margin: 1em auto;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto-fill, minmax(1fr, 2fr));
        gap: 0;
    }

    .stats .stats-img  {
        height: 100%;
    }

    .stats .stats-img img {
        max-height: 100%;
        max-width: 100%;
    }

    .stats .stats-info h1 {
        font-size: 2em;
    }

    .stats .stats-info p {
        margin: 0;
    }

    .stats .stats-numbers {
        margin-top: 2em;
    }
}
