/* Global Start */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {

    /* Colors Start */

    --veryDarkBlue: hsl(233, 47%, 7%);
    --darkDesaturatedBlue: hsl(244, 38%, 16%);
    --softViolet: hsl(277, 64%, 61%);
    --white: hsl(0, 0%, 100%);
    --slightlyTransparentWhite: hsla(0, 0%, 100%, 0.75);
    --littleSlightlyTransparent: hsla(0, 0%, 100%, 0.6);

    /* Colors End */

    font-size: 15px;
}

body {
    background-color: var(--veryDarkBlue);
    font-family: 'Inter', sans-serif;
    font-weight: 400, 700;
    height: 100vh;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Global end */

.stats {
    background-color: var(--darkDesaturatedBlue);
    display: grid;
    border-radius: .5em;
}


.stats .stats-img {
    position: relative;
}

.stats .stats-img img {
    display: block;
    margin: auto;
    filter: invert(10%) sepia(15%) saturate(860%) hue-rotate(235deg) brightness(55%) contrast(140%);
}

.stats .stats-img::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--softViolet);
    opacity: .4;  
}

.stats .stats-info  {
    display: flex;
    flex-direction: column;
}

.stats .stats-info h1 {
    color: var(--white);
    font-size: 2.5em;
    letter-spacing: .01em;
}

.stats .stats-info h1 span {
    color: var(--softViolet)
}

.stats .stats-info p {
    color: var(--littleSlightlyTransparent);
}

.stats .stats-numbers {
    display: grid;
    font-family: 'Lexend Deca', sans-serif;
}

.stats .stats-numbers strong {
    color: var(--white);
    font-size: 1.6em;
}

.stats .stats-numbers p {
    color: var(--littleSlightlyTransparent);
    font-weight: 400;
}

.attribution { 
    font-size: 11px; text-align: center;
    color: var(--softViolet);
    top: calc(100% + 2em);
    width: 100%;
}
.attribution a { 
    color: hsl(228, 45%, 44%);
}

/* Mobile Layout Start */

@media(max-width: 89.9rem) {
    .stats {
        min-width: 90%;
        max-height: 85%;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 1fr;
        text-align: center;
    }

    .stats .stats-info {
        grid-row: 2;
        padding: 1.6em;
    }

    
    .stats .stats-info p {
        line-height: 1.6em;
        padding: 0 1em;
        margin-bottom: 2.5em;
    }

    .stats .stats-info h1 {
        margin-bottom: .7em;
    }

    .stats-img {
        grid-row: 1 / 2;
    }

    .stats .stats-img::after {
        border-radius: .5em .5em 0 0;
    }

    .stats .stats-img img {
        border-radius: .5em .5em 0 0;
        max-width: 100%;
    }

    .stats .stats-info .stats-numbers {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr;

    }

    .stats .stats-info .stats-numbers p {
        font-size: .8rem;
        letter-spacing: .1rem;
    }

}

/* Mobile Layout End */

/* Desktop Layout Start */

@media(min-width: 90rem) {

    .stats {
        width: 55%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        gap: 1.4rem;
    }

    .stats .stats-info {
        padding: 3em;
        justify-content: space-between;
    }

    .stats .stats-info p {
        line-height: 1.6em;
        margin-bottom: 5em;
    }

    .stats .stats-img::after {
        border-radius: 0 .5em .5em 0;
    }
    
    .stats .stats-img img {
        grid-column: 2;
        border-radius: 0 .5em .5em 0;
        min-width: 100%;
    }

    .stats .stats-info .stats-numbers {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
    }

    .stats .stats-info .stats-numbers p {
        line-height: 1.6em;
        margin-bottom: 0;
        font-size: .8em;
        margin-top: .4em;
    }
    

}

/* Desktop Layout End */